.recherche{
	background-color: #f9f9f9;
	height: 35px;
	width: 500px;
	margin: 0 60px 0 60px;
}

.recherche input{
	border: 1px solid black;
	font-size: 17px;
	border-radius: 6px;
	margin: 0 0 0 50px;
}

.recherche button{
	font-size: 17px;
	border: none;
	color: black;
	text-align: center;
	background-color: #e7e7e7;
	border-radius: 6px;
}